<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Titulo pestania-->
        <title>Mercado Liebre</title>
        <!--Tipografía importada por Google:-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <!--Mi hoja de estilos-->
        <link rel="stylesheet" href="/css/styles.css">
        <!--Hoja de stilos importada-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <!--Reset de CSS-->
        <link rel="stylesheet" href="/css/normalize.css">
    </head>
    <body>
        <header>
            <img src="/images/logo-mercado-liebre.svg" alt="">
            <h2 class="buscar">Buscar productos, marcas</h2>        <!--Podria ser un input text-->
            <h2 class="compra">Comprá en cuotas y sin tarjeta de crédito</h2>
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Creá tu cuenta</a></li>
                    <li><a href="">Ingresá</a></li>
                    <li><a href="">Mis compras</a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <main>
            <section>
                <h2>Basado en tu última visita</h2>
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="">
                        <h3 class="precio">$6.770</h3>
                        <h3>40% OFF</h3>
                        <h3>Cafetera Moulinex</h3>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="">
                        <h3 class="precio">$230.000</h3>
                        <h3>20% off</h3>
                        <h3>MacBook Pro 2019</h3>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                        <h3 class="precio">$70.500</h3>
                        <h3>10% off</h3>
                        <h3>Samsung Galaxy S10</h3>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="">
                        <h3 class="precio">$23.200</h3>
                        <h3>5% off</h3>
                        <h3>SmartTv Samsung 43"</h3>
                    </article>
            </section>
            <section>
                <h2>Ofertas</h2>
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="">
                        <h3 class="precio">$6.770</h3>
                        <h3>40% OFF</h3>
                        <h3>Cafetera Moulinex</h3>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="">
                        <h3 class="precio">$230.000</h3>
                        <h3>20% off</h3>
                        <h3>MacBook Pro 2019</h3>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                        <h3 class="precio">$70.500</h3>
                        <h3>10% off</h3>
                        <h3>Samsung Galaxy S10</h3>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="">
                        <h3 class="precio">$23.200</h3>
                        <h3>5% off</h3>
                        <h3>SmartTv Samsung 43"</h3>
                    </article>
            </section>
        </main>
        <footer>
            <article>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
            <article>
                <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
            </article>
        </footer>
    </body>
</html>