/** {border: solid 1px black;}*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h2 {font-size: 24px;}

h3 {font-size: 16px;}

p {font-size: 12px;}

img {width: 100%;}

.envio, .descuento {color: rgb(37, 187, 37);}

i {
    margin: 0 5px
}

/* Header ===================================================*/
.main-header {
    background-color: #EAC926;
    padding: 20px; /*Para que los elementos internos no esten egados al borde*/
}

.logo {
    width: 200px; /*Está ok para mobile*/
    display: block;
    margin: 10px auto;
}

.buscar-bar {
    text-align: center;
}

.buscar-bar input, .buscar-bar button {
    border: none;
    padding: 6px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.hamburguer-button {
    background-color: #03264c;
    color: white;
    display: block; /*Hará que el fondo del botón (azul) ocupe todo el ancho, así que le ponemos un widht. SUPER importante poner block porque me permite configurarle estas opciones.*/
    max-width: 50px;    /*Para que el fondo del botón no sea gigante.*/  
    padding: 15px 0;
    border-radius: 8px;
    text-align: center; /*Centra el ícono*/
    font-size: 18px;
    margin: auto;   /*Recordar que para usar esta propiedad debe tener un width, así que lo podemos usar.*/
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;   /*Elimino punto de los items, así como los márgenes y padding así no hay sangría.*/
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block; /*<a> es un elemento de linea solamente. Para poder ponerle relleno arriba y abajo o cambiarle el tamaño debe ser de bloque => inline-block*/
    padding: 5px 0;
    font-size: 17px;
}


@media (min-width: 768px){

    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
            margin: 15px 0; /*Tiene mucho margen, se lo saco así el resto de elementos ocupan bien el espacio*/
        }
    
    .copy-header {
        max-width: 200px;
        text-align: right;
    }

    .hamburguer-button {
        display: none;  /*Eliminamos el botón*/
    }

    .main-navbar {
        display: flex;  /*Aparece y como flex*/
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }
}

@media (min-width: 1200px){

    .logo {
        width: 250px;
    }

    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
        align-items: center;
    }

    .main-navbar {
        margin-top: 10px;
    }

    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 19px;
    }

    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
}

/* Footer ===================================================*/
footer {
    background-color: white;
    margin-top: 20px;
}

.footer-articulo {
    text-align: center;
}

.tarjeta, .regalo, .proteccion {
    font-size: 60px;
    color: #1259c3;
    margin-top: 20px;
}

/* Main ===================================================*/
.main {
    width: 90vw;
    margin: auto;
}

.main-seccion article {
    margin-bottom: 10px;
    box-shadow : 0px 0px 10px rgb(100,100,100);
}

.producto-desc {
    border-top: solid 1px #ebebeb;
    background-color: white;
    padding: 15px;
}

.descripcion {
    display: none;
}

@media (min-width: 768px){
    .descripcion {
        display: block;
    }
}

.envio {    /*Lo pegué de la consigna*/
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF;
    border-radius: 50%;
    /* position: absolute; */
    right: 20px;
    top: -15px;
}

.precio {
    font-size: 18px;
    margin-right: 10%;
}

.precio-descuento {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.container-articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-width: 768px){

    .container-articulos article {
        width: 48%;
    }
}

@media (min-width: 1200px){
    .container-articulos article {
        width: 22%;
    }
}

/*COSAS A MEJORAR
- No pude poner el precio-producto 30%-70% porque el texto de precio queda por afuera de su límite y se sobresolapan. Lo hice poniendo un margin que creo que queda mejor. Ojo con las fuentes, parecen iguales siempre.
- EL header para ponerlo en 2: logo + barra, podemos jugar con su width en alguna resolución media query así los tenemos juntos. Pero me gusta como quedó*/

/*RECORDAR:
width siempre es el tamaño de su contenedor (width 100% tendrá el tamaño de su contenedor).
Pensar en las media queries junto con el tamaño del elemento width para jugar con las filas, a ver si entra o no, sino caerá a la otra fila.
Agrupar los elementos según su temática y/o necesidd de agrupación flex, poner buenos class.
Muchas veces podemos alinear con text-align, esto alinea su contenido.
Muchas veces podemos alinear con margin:auto, INDICARLE SIEMPRE UN WIDTH y que sea block o inline-block. inline no acepta widths.
Jugar con los margin para separar elementos si estan PEGADOS.
Jugar con el padding para que el CONTENIDO no esté pegado a su BORDE.
Puede que en mobile no tengamos que usar flex, asegurarnos de tener elemento en bloque o linea según corresponda, luego en resoluciones mas grandes usaremos el agrupamiento por flex. Recordar que flex pasa todo a inline-block, no le importa nada.*/


/* Formulario ===================================================*/
.formulario {
    padding: 20px 15px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
}

.formulario input {
    background-color: #ebebeb;
    border: none;
    border-radius: 5px;
}

.formulario .texto-file {
    background-color: white;
}

.texto-datos-cuenta {
    margin-top: 0px;
}

.elementos, .texto-foto {
    margin-bottom: 15px;
}

.control {
    width: 50%;
    padding: 8px 8px;
}

.intereses-checkbox label, .perfil-radio label {
    margin-left: 5px;
}

.boton-formulario {
    background-color: rgb(68, 23, 230);
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
}